body {
  margin: 0;
  font-family: Arial;
  background: #0f2027;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1c2b36;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

video {
  width: 100%;
  max-height: 60vh;
}
